/* DEFAULTS */
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face
 {
    font-family: 'Quan';
    src: local('Quan Rounded Semi Light'), local('Quan-Rounded-Semi-Light'),
        url('./fonts/QuanRounded-SemiLight.woff2') format('woff2'),
        url('./fonts/QuanRounded-SemiLight.woff') format('woff'),
        url('./fonts/QuanRounded-SemiLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face 
{
    font-family: 'Goldman-S';
    src: url('./img/Goldman-Sans-Medium/GoldmanSans/App/GoldmanSans_A_Lt.ttf');
}
body
{
    font-family: 'Quan';
    background: rgb(34, 34, 34);
    color: #fff;
    font-size: 20px;
    line-height: 1.2;
}
a
{
    color: #fff;
    text-decoration: none;
}
ul
{
    list-style: none;
}
a:hover
{
    text-decoration: underline;
}
h2
{
    font-weight: 600;
    font-size: 56px;
    text-transform: uppercase;
}
h4
{
    font-size: 28px;
    font-weight: 300;
    text-transform: uppercase;
}

/* UTILITY */
img.icons
{
    width: 20px;
}
section
{
    height: 700px;
    font-family: 'Goldman-S';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 50px 48px 0px;
    text-align:center;
    row-gap: 8px;
    margin-bottom: 10px;
}
section a span
{
    font-size: 21px;
    font-weight: 100;
}
section .green
{
    color: rgb(68, 214, 44);
    padding: 0 3px;
}
section .double-links
{
    margin-right: 30px;
}

/* HEADER */
.main-menu
{
    position: sticky;
    top: 0;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px 0;
    border-bottom: rgb(68, 214, 44) 1px solid;
    color: rgb(136, 136, 136);
    margin: 0 auto;
}

/* MENU OPTIONS */
.menu-options li
{
    margin-right: 64px;
}
.menu-options
{
    display: flex;
    margin-left: 64px;
}

/* RIGHT MENU */
.right-menu
{
    display: flex;
}
.right-menu .search
{
    margin-right: 64px;
}

.main-menu .mobile-menu
{
    display: none;
}

/* HEADER BANNER */
.header-banner
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(85, 85, 85);
    padding: 10px 30px;
    text-align: center;
    font-size: 19px;
}

/* HOLIDAY BANNER */
.holiday-banner
{
    background: url('./img/15_holiday-gift-guide-campaign-homepage-large-2x.webp') no-repeat center center /cover;
}

/* RAZER HAMMERHEAD */
.razer-hammerhd
{
    background: url('./img/razer-hammerhead-hyperspeed-for-meta-quest-a-desktop-2x.webp') no-repeat center center /cover;
}

/* 1100px QEURY */
@media(max-width: 1100px)
{
    .menu-options
    {
        margin-left: 40px;
    }
    .menu-options li, .right-menu .search
    {
        margin-right: 40px;
    }

    section
    {
        height: 350px;
    }
}

/* 900px QUERY */
@media(max-width: 900px)
{
    .menu-options
    {
        margin-left: 30px;
    }
    .menu-options li, .right-menu .search
    {
        margin-right: 30px;
    }
}

/* 776px QUERY */
@media(max-width: 776px)
{
    .main-menu
    {
        justify-content: space-between;
        padding: 0 15px;
    }
    .main-menu .mobile-menu
    {
        display: block;
    }
    .main-menu .menu-options, .right-menu .search
    {
        display: none;
    }

    section h2
    {
        font-size: 32px;
    }
    section h4
    {
        font-size: 20px;
    }
    section a span
    {
        font-size: 15px;
    }
}

/* 500px QUERY */
@media(max-width: 500px)
{
    .holiday-banner
    {
        background: url('./img/31_holiday-gift-guide-campaign-homepage-mobile2x.webp') no-repeat center center /cover;
        height: 550px;
    }
    
    .razer-hammerhd
    {
        background: url('./img/razer-hammerhead-hyperspeed-for-meta-quest-a-mobile.webp') no-repeat center center /cover;
        height: 580px;
    }
}