/* DEFAULTS */
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face
 {
    font-family: 'Quan';
    src: local('Quan Rounded Semi Light'), local('Quan-Rounded-Semi-Light'),
        url('./fonts/QuanRounded-SemiLight.woff2') format('woff2'),
        url('./fonts/QuanRounded-SemiLight.woff') format('woff'),
        url('./fonts/QuanRounded-SemiLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face 
{
    font-family: 'Goldman-S';
    src: url('./img/Goldman-Sans-Medium/GoldmanSans/App/GoldmanSans_A_Lt.ttf');
}
body
{
    font-family: 'Quan';
    background: rgb(34, 34, 34);
    color: #fff;
    font-size: 20px;
    line-height: 1.2;
}
a
{
    color: #fff;
    text-decoration: none;
}
ul
{
    list-style: none;
}
a:hover
{
    text-decoration: underline;
}
h2
{
    font-weight: 600;
    font-size: 56px;
    text-transform: uppercase;
}
h4
{
    font-size: 28px;
    font-weight: 300;
    text-transform: uppercase;
}

/* UTILITY */
img.icons
{
    width: 20px;
}
img.icons.foot-icon
{
    width: 28px;
}
section
{
    height: 700px;
    font-family: 'Goldman-S';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 50px 48px 0px;
    text-align:center;
    row-gap: 8px;
    margin-bottom: 10px;
}
section a span
{
    font-size: 21px;
    font-weight: 100;
}
section .green
{
    color: rgb(68, 214, 44);
    padding: 0 3px;
}
section .double-links
{
    margin-right: 30px;
}
.multi-section section h2
{
   font-size: 39px;
}
.multi-section section h4
{
    font-size: 21px;
}
.multi-section section a span
{
    font-size: 17px;
}


/* HEADER */
.main-menu
{
    position: sticky;
    top: 0;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px 0;
    border-bottom: rgb(68, 214, 44) 1px solid;
    color: rgb(136, 136, 136);
    margin: 0 auto;
}

/* MENU OPTIONS */
.menu-options li
{
    margin-right: 64px;
}
.menu-options
{
    display: flex;
    margin-left: 64px;
}

/* RIGHT MENU */
.right-menu
{
    display: flex;
}
.right-menu .search
{
    margin-right: 64px;
}

.main-menu .mobile-menu
{
    display: none;
}

/* HEADER BANNER */
.header-banner
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(85, 85, 85);
    padding: 10px 30px;
    text-align: center;
    font-size: 19px;
}

/* HOLIDAY BANNER */
.holiday-banner
{
    background: url('./img/15_holiday-gift-guide-campaign-homepage-large-2x.webp') no-repeat center center /cover;
}

/* RAZER HAMMERHEAD */
.razer-hammerhd
{
    background: url('./img/razer-hammerhead-hyperspeed-for-meta-quest-a-desktop-2x.webp') no-repeat center center /cover;
}

/* RAZER BLADE 16 */
.razer-b16
{
    background: url('./img/14_razer-blade16-lamborghini-homepage-desktop2x.webp') no-repeat center center /cover;
    padding-top: 25px;
}
.razer-b16 .exclusive-badge
{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    text-align: left;
    padding: 2px 12px;
    background: #ff9c07;
    color: #000401;    
    border: 1px solid black;
}
.razer-b16 .exclusive-badge span:first-child
{
    font-size: 10px;
    font-weight:bold;
}
.razer-b16 .exclusive-badge.prime-link span:last-child
{
    font-size: 16px;
    font-weight:bold;
}

/* MULTI-SECTION CONTAINER */
.multi-section
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}

/* RAZER FUJIN PRO SECTION*/
.fujin-pro
{
    background: url('./img/03_fujin-pro-b-950x580-desktop.webp') no-repeat center center /cover; 
}

/* RAZER B16 & 18M SECTION*/
.r16-18m
{
    background: url('./img/04_mercury-blade16-blade18-b-950x580-desktop.webp') no-repeat center center /cover;
}

/* RAZER ANNVIERSARY SECTION*/
.razer-annivsry
{
    background: url('./img/05_razer-gold-5th-anniversary-b-950x580-desktop.webp') no-repeat center center /cover;
}

/* iMMERSIVE LINE SECTION*/
.rzr-immersive
{
    background: url('./img/immersive-campaign-b-950x580-desktop.webp') no-repeat center center /cover;
}

/* SNEKI-SNEK SECTION */
.sneki-snek
{
    background: url('./img/07_sneki-snek-b-950x580-desktop.webp') no-repeat center center /cover;
}

/* GIFT CARD SECTION */
.gift-cards
{
    background: url('./img/13_ebonus-card-b-950x580-desktop.webp') no-repeat center center /cover;
}

/* FOOTER */
.page-bottom
{
    font-family: 'Goldman-s';
    font-size: 12.25px;
    background: rgb(17, 17, 17);
    color: rgb(153, 153, 153);
}
.page-bottom .footer-container
{
    display: flex;
    padding: 30px 70px;
    max-width: 100%;
    justify-content: space-between;
}
.page-bottom .footer-container ul
{
    margin-right: 80px;
}
.page-bottom .footer-container ul:last-child li
{
    padding: 0;
}
.page-bottom .footer-links
{
    display: flex;
}
.page-bottom .footer-container div
{
    color:rgb(68, 214, 44);
    text-transform: uppercase;
}
.page-bottom .footer-links li
{
    padding: 0 0 16px;
    color: rgb(153, 153, 153);
}
.page-bottom .footer-links li a
{
    color:rgb(153, 153, 153);
}
a.grey-link
{    
    color: rgb(153, 153, 153);
}
.page-bottom .footer-links ul li:first-child
{
    padding: 0 0 16px;
    color: #fff;
}
.page-bottom hr
{
    max-width: 90%;
    margin: 0 auto;
    border-color: rgb(85, 85, 85);
    background-color: rgb(85, 85, 85);
}
.page-bottom .footer-bottom
{
    display: flex;
    padding: 20px 70px;
    justify-content: flex-start;
}
.page-bottom .footer-bottom span
{
    margin-right: 40px;
}
.page-bottom .footer-bottom ul
{
    display: flex;
}
.page-bottom .footer-bottom ul:last-child
{
    margin-left: auto;
}

.footer-quote
{
    margin-left: auto;
    margin-right: 30px;
    font-size: 15px;
}

/* 1100px QEURY */
@media(max-width: 1100px)
{
    .menu-options
    {
        margin-left: 40px;
    }
    .menu-options li, .right-menu .search
    {
        margin-right: 40px;
    }

    section
    {
        height: 350px;
    }

    .page-bottom .footer-container
    {
        padding: 20px 25px;
    }

    .footer-quote
    {
        margin-right: 0px;
    }
}

/* 900px QUERY */
@media(max-width: 900px)
{
    .menu-options
    {
        margin-left: 30px;
    }
    .menu-options li, .right-menu .search
    {
        margin-right: 30px;
    }
}

/* 776px QUERY */
@media(max-width: 776px)
{
    .main-menu
    {
        justify-content: space-between;
        padding: 0 15px;
    }
    .main-menu .mobile-menu
    {
        display: block;
    }
    .main-menu .menu-options, .right-menu .search
    {
        display: none;
    }

    section h2, .multi-section section h2
    {
        font-size: 32px;
    }
    section h4, .multi-section section h4
    {
        font-size: 20px;
    }
    section a span, .multi-section section a span
    {
        font-size: 15px;
    }

    .multi-section
    {
        grid-template-columns: 1fr;
    }

    .holiday-banner
    {
        background: url('./img/31_holiday-gift-guide-campaign-homepage-mobile2x.webp') no-repeat center center /cover;
        height: 550px;
    }
    
    .razer-hammerhd
    {
        background: url('./img/razer-hammerhead-hyperspeed-for-meta-quest-a-mobile.webp') no-repeat center center /cover;
        height: 580px;
    }

    .razer-b16
    {
        background: url('./img/36_razer-blade16-lamborghini-homepage-mobile2x.webp') no-repeat center center /cover;
        height: 580px;
    }

    .fujin-pro
    {
        background: url('./img/33_fujin-pro-b-480x615-mobile.webp')  no-repeat center center /cover;
        height: 615px;
    }

    .r16-18m
    {
        background: url('./img/34_razer-blade-16-and-18-mercury-b-480x615-mobile.webp')  no-repeat center center /cover;
        height: 615px;
    }

    .razer-annivsry
    {
        background: url('./img/35_razer-gold-5th-anniversary-b-480x615-mobile.webp')  no-repeat center center /cover;
        height: 615px;
    }

    .rzr-immersive
    {
        background: url('./img/immersive-campaign-b-480x615-mobile.webp') no-repeat center center /cover;
        height: 615px;
    }

    .sneki-snek
    {
        background: url('./img/38_sneki-snek-b-480x615-mobile.webp') no-repeat center center /cover;
        height: 615px;
    }

    .gift-cards
    {
        background: url('./img/37_ebonus-card-b-480x615-mobile.webp') no-repeat center center /cover;
        height: 615px;
    }
}
